<!--   The popup which pops up as one intends to click or view comments -->

<div id="myDiv2" class="parentDisable" onLoad="assign()"></div>
<div id="comment_window">
  <textarea id="forminput" cols=28 rows=5></textarea> <br>
  <button onclick="ajaxSubmitComment()"><b>Save Comment</b></button>
</div>

